@model IEnumerable<mvcBlog.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length) <text>...</text>
}

}


<h2>Makaleler</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriler.kategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.kullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.kategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.kullaniciAdi)
        </td>
        <td>
            @Truncate(item.Baslik, 15)
        </td>
        <td>
            @Truncate(item.Icerik, 45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td>
        <td>
            @if(item.Kullanici.kullaniciAdi==Session["username"].ToString())
            {
                <p>@Html.ActionLink("Güncelle", "Edit", new { id = item.id }) |
                   @Html.ActionLink("Sil", "Delete", new { id = item.id })
            
            </p>
            }
         
            @Html.ActionLink("İncele", "Details", new { id=item.id }) |
         
        </td>
    </tr>
}

</table>
