@model mvcBlog.Models.Kullanici

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h2 class="text-center text-info">@Session["username"].ToString();</h2>
<div>
    <h4>@Html.DisplayFor(model => model.Yetki.yetkiAdi)</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Geri Dön", "Index","Home")
</p>
